  body {
    background-image: url('./backgroud.jpg');
    background-size: cover;
  }

  #socialLinks {
    margin-top: 20px;
    float: right;
  }

#socialLinks li{
    display: inline;
  }

#socialLinks a
{
    color: inherit;
}

  #siteWelcome {
    margin-top: 100px;
    margin-left: 200px;
    max-width: 900px;
    font-size: 80px;
    text-transform: uppercase;
    font-family: system-ui;
    font-weight: bold;
  }

#siteDesc {
    margin-top: 200px;
    margin-left: 200px;
    max-width: 500px;
    font-size: 20px;
    font-family: system-ui;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 10px;
  }

  #aboutUs {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    font-family: system-ui;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 10px;
  }

  #teamMembers {
    margin-top: 20px;
  }

  #teamMembers li {
    display: inline-flex;
  }

  .teamMember {
    margin-left: 200px;
    width: 300px;
    font-size: 40px;
    font-family: system-ui;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 10px;
  }

  #contactForm {
    margin-top: 100px;
    margin-left: 200px;
    max-width: 800px;
    font-size: 20px;
    font-family: system-ui;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 10px;
  }

  #contactForm label, input, textarea {
    display: block;
    width: 100%;
  }

  #contactForm label {
    margin-top: 10px;
  }

  #contactForm input {
    height: 30px;
  }

  #contactForm button {
    margin-top: 10px;
    height: 30px;
    width: 100%;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav h1 i {
    margin-right: 10px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li input {
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul li button {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

